@{
  Layout = "_Layout";
}
      <div class="jumbotron">
      <h1>Create a MadLib Story</h1>
      </div>
      <img src="https://miro.medium.com/max/4574/1*b1T9PtMK3bxboKvnSctNmg.jpeg" class="img-fluid" alt="">
      <div>
        <form id="formOne" action="/result" method="post">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input name="firstName" class="form-control" type="text">
          </div>
          <div class="form-group" >
            <label for="lastName">Last Name</label>
            <input name="lastName" class="form-control" type="text">
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="storyType" value="horror" checked>
                Horror
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="storyType" value="funny">
                Funny
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="storyType" value="history">
                History
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Create Story</button>
        </form>
      </div>