<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <title>Accidental Bigraphy</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      <h1>Create a MadLib Story</h1>
      </div>
      <div>
        <form id="formOne" action="/result" method="post">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input name="firstName" class="form-control" type="text">
          </div>
          <div class="form-group" >
            <label for="lastName">Last Name</label>
            <input name="lastName" class="form-control" type="text">
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="storyType" value="horror" checked>
                Horror
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="storyType" value="funny">
                Funny
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="storyType" value="history">
                History
              </label>
            </div>
          </div>
          <button type="submit">Create Story</button>
        </form>
      </div>
    </div>
  </body>
</html>