@{
  Layout = "_Layout";
}
      <div class="jumbotron">
        <h1>History in the making with @Model.FirstName @Model.LastName</h1>
      </div>
      <img src="https://www.thoughtco.com/thmb/Z3UD1sGFrE5s3G25CnimaXjwobI=/1500x844/smart/filters:no_upscale()/biography_glossary-57e2311f5f9b586516b4072e.jpg" class="img-fluid" alt="">
      <div class="jumbotron text">
      <p>
        @Model.FirstName @Model.LastName was a native Belgian and naturalized Brazilian teacher and physician, who was active in the fight for women's rights. After earning her teaching credentials in Belgium and France, Rennotte taught for three years in Germany before moving to Brazil as a governess. Giving private lessons and teaching at a girls' school, she lived in Rio de Janeiro from 1878 to 1882. Hired to teach in the State of São Paulo, she moved to Piracicaba where from 1882 to 1889 she taught science, developed the curriculum, and enhanced the reputation of the Colégio Piracicabano. The co-educational was an innovative institution offering equal education to girls and boys.
      </p>
